<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gelato.app.prd.prdPrcsNow.dao.PrdPrcsNowMapper">
	
<!-- 공정목록 modal -->	
	<select id="prcsDialog" resultType="PrdPrcsNowVO">
		select p.prcs_id as prcs_id,
			   p.nm as nm, 
			   p.eqm_id as eqm_id, 
			   e.eqm_name as eqm_name
		from prcs p join eqm e
		    on p.eqm_id = e.eqm_id
		<if test="prcsSelDeta != '' and prcsSelDeta != null">
			where SUBSTR(p.prcs_id, 5, 4) = #{prcsSelDeta}
		</if>
	</select>

<!-- 지시목록 modal -->
	<select id="indicaDialog" resultType="PrdPrcsNowVO">
		SELECT pid.indica_deta_id as indica_deta_id, 
			   p.prdt_nm as prdt_nm, 
			   pid.qy as qy, 
			   pid.indica_dt as indica_dt
		FROM PROD_INDICA_DETA pid join line l
		    on pid.line_id = l.line_id
		    join prdt p
		    on l.prdt_id = p.prdt_id
		<if test="startD != null and startD != ''">
			<![CDATA[trunc(pid.indica_dt) >= to_date(#{startD})]]>
		</if>
		
		<if test="endD != null and endD != ''">
			<![CDATA[and trunc(pid.indica_dt) <= to_date(#{endD})]]>
		</if>
		group by pid.indica_deta_id, l.prdt_id, p.prdt_nm, pid.qy, pid.indica_dt
		order by pid.indica_deta_id
	</select>
</mapper>