<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.bomCode.dao.BomCodeMapper">

	<!-- BOM 전체 조회.-->
	
	<select id="findBomList" resultType="BomCodeVO">
		SELECT  f_com_code_to_nm(a.fg) AS fg,
		        a.bom_id AS bom_id, 
		        a.prdt_id AS prdt_id, 
		        a.rwmatr_id AS rwmatr_id, 
		        a.qy AS qy, 
		        a.prcs_id AS prcs_id,  
		        a.remk AS remk, 
		        a.use_yn AS use_yn,
                b.nm AS nm,
                c.nm AS prcsNm
		FROM bom a 
		JOIN rwmatr b
		ON a.rwmatr_id = b.rwmatr_id
		JOIN prcs c
		ON  a.prcs_id = c.prcs_id
		<where>
			<if test="prdtId !=null and prdtId !=''">
				and a.prdt_id = #{prdtId}
			</if>
			<if test="nm !=null and nm !=''">
			 	and b.nm = #{nm}
			</if>
		    <if test="useYn !=null and useYn !=''">
				and a.use_yn = #{useYn}
			</if>
		</where>   
		ORDER BY  prcs_id
	</select>

	<!-- BOM 등록 -->
	<insert id="insertBomCode" parameterType="BomCodeVO">
		<selectKey keyProperty="bomId" resultType="String" order="BEFORE">
			SELECT 'BOM-'||
					LPAD(MAX(TO_NUMBER(SUBSTR(BOM_ID, -5))) +1, 5, 0)
				AS  BOM_ID
			  FROM	BOM
		
		</selectKey>
		INSERT INTO BOM (
							BOM_ID,
							PRDT_ID,
							RWMATR_ID,
							QY,
							PRCS_ID,
							FG,
							REMK,
							USE_YN
			             )
			     VALUES (	
			     			#{bomId},
			     			#{prdtId},
			     			#{rwmatrId},
			     			#{qy},
			     			#{prcsId},
			     			f_com_nm_to_code(#{fg}),
			     			#{remk},
			     			#{useYn}			     			
			     )      
		
	</insert>


	<!-- bom에서 제품코드 검색 modal --> 
	<select id="rwmatrList" resultType="BomCodeVO">
		SELECT a.prdt_id as prdt_id , a.qy as qy,
		       b.nm as nm, b.spec as spec, b.wk_unit as wk_unit, 
		       c.vend_name as vend_name,
		       d. prdt_nm as prdt_nm
        FROM   bom a
        JOIN   rwmatr b
        ON     a.rwmatr_id = b.rwmatr_id
        JOIN   vend c 
        ON     b.vend_id = c.vend_id 
        JOIN   prdt d
        ON     a.prdt_id = d.prdt_id
  ORDER BY     prdt_id ASC
		
	</select>
	
	<!-- 그리드 셀에서 클릭시 조회되는 원자재 코드 검색 modal. -->
	<select id="rwmatrCodeList" resultType="BomCodeVO">
		SELECT   rwmatr_id, nm
		FROM     rwmatr
	    ORDER BY rwmatr_id
	</select>
	
	<!-- 그리드셀에서 클릭시 조회되는 공정코드 검색 modal. -->
	<!-- 제품공정흐름도에 맞는 공정만 선택할 수 있도록-->
	<select id ="prcsCodeList" resultType="BomCodeVO">
		SELECT  A.PRCS_ID AS PRCS_ID,
		        A.NM AS NM,
		        B.LINE_ID AS LINE_ID,
		        B.ORD AS ORD,
		        B.PRDT_ID AS PRDT_ID
		FROM PRCS A
		JOIN  LINE B
		ON    A.PRCS_ID = B.PRCS_ID
		WHERE B.PRDT_ID =#{prdtId}
	ORDER BY ORD
	</select>
	
	<update id="updateBomCode" parameterType="BomCodeVO" >
	   UPDATE  BOM  
	     SET   RWMATR_ID = #{rwmatrId},
	     	   QY = #{qy},
	     	   PRCS_ID = #{prcsId},
	     	   FG = f_com_nm_to_code(#{fg}),
	     	   REMK = #{remk}, 
	           USE_YN = #{useYn}
	          
	   WHERE   BOM_ID = #{bomId}
	</update>





</mapper>