<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.bomCode.dao.BomCodeMapper">

	<!-- BOM 전체 조회.-->
	
	<select id="findBomList" resultType="BomCodeVO">
		SELECT  A.FG AS FG,
		        A.BOM_ID AS BOM_ID, 
		        A.PRDT_ID AS PRDT_ID, 
		        A.RWMATR_ID AS RWMATR_ID, 
		        A.QY AS QY, 
		        A.PRCS_ID AS PRCS_ID,  
		        A.REMK AS REMK, 
		        A.USE_YN AS USE_YN,
                B.NM AS NM,
                C.NM AS PRCSNM
		FROM BOM A 
		JOIN RWMATR B
		ON A.RWMATR_ID = B.RWMATR_ID
		JOIN PRCS C
		ON  A.PRCS_ID = C.PRCS_ID
		
		
		<where>
			<if test="prdtId !=null and prdtId !=''">
				AND A.PRDT_ID = #{prdtId}
			</if>
			<if test="nm !=null and nm !=''">
			 	AND B.NM = #{nm}
			</if>
		   
		</where>   
		ORDER BY  BOM_ID
	</select>

	<!-- BOM 등록 -->
	<insert id="insertBomCode" parameterType="BomCodeVO">
		<selectKey keyProperty="bomId" resultType="String" order="BEFORE">
			SELECT 'BOM-'||
					LPAD(MAX(TO_NUMBER(SUBSTR(BOM_ID, -5))) +1, 5, 0)
				AS  BOM_ID
			  FROM	BOM
		
		</selectKey>
		INSERT INTO BOM (
							BOM_ID,
							PRDT_ID,
							RWMATR_ID,
							QY,
							PRCS_ID,
							FG,
							REMK,
							USE_YN
			             )
			     VALUES (	
			     			#{bomId},
			     			#{prdtId},
			     			#{rwmatrId},
			     			#{qy},
			     			#{prcsId},
			     			#{fg},
			     			#{remk},
			     			#{useYn}			     			
			     )      
		
	</insert>


	<!-- bom에서 제품코드 검색 modal --> 
	<select id="rwmatrList" resultType="BomCodeVO">
	    SELECT PRDT_ID AS PRDT_ID,
               PRDT_NM AS PRDT_NM,
               f_com_code_to_nm(SPEC) AS SPEC,
               f_com_code_to_nm(UNIT) AS UNIT,
               SPEC AS SEPC_CODE,
               UNIT AS UNIT_CODE
        FROM   PRDT 
    ORDER BY   PRDT_ID ASC
		
	</select>
	
	<!-- 그리드 셀에서 클릭시 조회되는 원자재 코드 검색 modal. -->
	<select id="rwmatrCodeList" resultType="BomCodeVO">
		SELECT   rwmatr_id, nm
		FROM     rwmatr
	    ORDER BY rwmatr_id
	</select>
	
	<!-- 그리드셀에서 클릭시 조회되는 공정코드 검색 modal. -->
	<!-- 제품공정흐름도에 맞는 공정만 선택할 수 있도록-->
	<select id ="prcsCodeList" resultType="BomCodeVO">
		SELECT  A.PRCS_ID AS PRCS_ID,
		        A.NM AS NM,
		        B.LINE_ID AS LINE_ID,
		        B.ORD AS ORD,
		        B.PRDT_ID AS PRDT_ID
		FROM  PRCS A
		JOIN  LINE B
		ON    A.PRCS_ID = B.PRCS_ID
		WHERE B.PRDT_ID =#{prdtId}
	ORDER BY ORD
	</select>
	
	<update id="updateBomCode" parameterType="BomCodeVO" >
	   UPDATE  BOM  
	     SET   RWMATR_ID = #{rwmatrId},
	     	   QY = #{qy},
	     	   PRCS_ID = #{prcsId},
	     	   FG = #{fg},
	     	   REMK = #{remk}, 
	           USE_YN = #{useYn}
	          
	   WHERE   BOM_ID = #{bomId}
	</update>
</mapper>