<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.prdtCode.dao.PrdtCodeMapper">

<!-- prdtCode 전체 조회. -->
<select id="PrditCodeList" resultType="PrdtCodeVO">
	SELECT f_com_code_to_nm(SPEC) AS SPEC,
		   f_com_code_to_nm(UNIT) AS UNIT,
	       PRDT_ID AS PRDT_ID,
		   PRDT_NM AS PRDT_NM,
		   SPEC AS SPEC_CODE,
		   UNIT AS UNIT_CODE,
		   SAF_STC AS SAF_STC
	FROM   PRDT
	<where>
		<if test="prdtId !=null and prdtId !=''">
			AND PRDT_ID = #{prdtId}
		</if>
	</where>	   	
</select>

<insert id="insertPrdtCode" parameterType="PrdtCodeVO">
	<selectKey keyProperty="prdtId" resultType="String" order="BEFORE">
		SELECT 'PRD-'||
				LPAD(MAX(TO_NUMBER(SUBSTR(PRDT_ID, -5))) +1, 5, 0)
		    AS  PRDT_ID
		  FROM  PRDT
	</selectKey>
	INSERT INTO PRDT (
						PRDT_ID,
						PRDT_NM,
						SPEC,
						UNIT,
						SAF_STC
	                  )
	        VALUES (
	        			#{prdtId},
	        			#{prdtNm},
	        			#{spec},
	        			#{unit},
	        			#{safStc}
	               )          
</insert>

 <update id="updatePrdtCode" parameterType="PrdtCodeVO">
	UPDATE PRDT
	
	   SET PRDT_NM = #{prdtNm},
	   	   SPEC = #{spec},
	   	   UNIT = #{unit},
	   	   SAF_STC = #{safStc}
	   	   
	 WHERE PRDT_ID = #{prdtId}	   

</update> 


</mapper>