<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.prdtCode.dao.PrdtCodeMapper">

<!-- prdtCode 전체 조회. -->
<select id="PrditCodeList" resultType="PrdtCodeVO">
	SELECT PRDT_ID,
		   PRDT_NM,
		   SPEC,
		   UNIT,
		   SAF_STC
	FROM   PRDT	   	
</select>

</mapper>