<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.rwmatr.istInsp.dao.RwmatrIstInspMapper">
	
	<select id="RwmatrIstInspList" resultType="RwmatrIstInspVO">
		SELECT 	   ROD.ORDER_ID AS ORDER_ID,
	               RII.RWMATR_ORDER_DETA_ID AS RWMATR_ORDER_DETA_ID, 
			       R.RWMATR_ID AS RWMATR_ID, 
			       R.NM AS NM, 
			       RII.DT AS DT, 
			       ROD.QY AS QY,
			       RII.PASS_QY AS PASS_QY, 
			       RII.INFER_QY AS INFER_QY, 
			       RII.MNGR AS MNGR,
			       RII.REMK AS REMK,
                   CM.MBER_NM AS MBER_NM,
                   RI.INFER_ID AS INFER_ID,
                   IC.DETA AS DETA
		FROM RWMATR_IST_INSP RII JOIN RWMATR R
			ON RII.RWMATR_ID = R.RWMATR_ID
        JOIN RWMATR_ORDER_DETA ROD
        	ON ROD.RWMATR_ORDER_DETA_ID = RII.RWMATR_ORDER_DETA_ID
        JOIN RWMATR_INFER RI
        	ON RI.RWMATR_ORDER_DETA_ID = RII.RWMATR_ORDER_DETA_ID
        JOIN INFER_CODE IC
       		ON IC.INFER_ID = RI.INFER_ID
        LEFT OUTER JOIN (SELECT MBER_ID, MBER_NM, ESNTL_ID
		                 FROM COMTNGNRLMBER
		                 WHERE MBER_STTUS = 'P'
		                 ORDER BY MBER_NM) CM
            ON RII.MNGR = CM.ESNTL_ID
        <where>
	    	<if test="startDate != ''">
	    		<![CDATA[TRUNC(RII.DT) >= to_date(#{startDate},'YYYY-MM-DD')]]>
	    	</if>
	    	<if test="endDate != ''">
	    		AND <![CDATA[TRUNC(RII.DT) <= to_date(#{endDate},'YYYY-MM-DD')]]>
	    	</if>
			<if test="rwmName != '' and rwmName != null">
				AND R.NM LIKE '%'||#{rwmName}||'%'
			</if>
			<if test="mngr != '' and mngr != null">
				AND CM.MBER_NM LIKE '%'||#{mngr}||'%'
			</if>
		</where> 
        ORDER BY 1 DESC
	</select>
	
	<select id="selectOrderDetail" resultType="RwmatrIstInspVO">
		SELECT 	ROD.ORDER_ID AS ORDER_ID, 
				ROD.RWMATR_ORDER_DETA_ID AS RWMATR_ORDER_DETA_ID, 
				R.NM AS NM, 
				ROD.RWMATR_ID AS RWMATR_ID, 
				ROD.QY AS QY, 
				RII.MNGR AS MNGR
	    FROM RWMATR_IST_INSP RII RIGHT JOIN RWMATR_ORDER_DETA ROD
	    	ON RII.RWMATR_ORDER_DETA_ID = ROD.RWMATR_ORDER_DETA_ID
	    LEFT OUTER JOIN RWMATR R
	    	ON R.RWMATR_ID = ROD.RWMATR_ID
	    WHERE RII.FG IS NULL
	    ORDER BY 2 DESC
	</select>
	
	<insert id="insertRwmatrIstInsp" parameterType="RwmatrIstInspVO">
		INSERT INTO RWMATR_IST_INSP(
										RWMATR_ID, 
										DT, 
										PASS_QY, 
										INFER_QY, 
										MNGR, 
										REMK, 
										RWMATR_ORDER_DETA_ID
									) 
							 VALUES(
								 		#{rwmatrId},
								 		#{dt},
								 		#{passQy},
								 		#{inferQy},
								 		#{mngr},
								 		#{remk},
								 		#{rwmatrOrderDetaId}
								 	)

	</insert>
	
	<update id="updateRwmatrIstInsp" parameterType="RwmatrIstInspVO">
		UPDATE RWMATR_IST_INSP SET RWMATR_ID = #{rwmatrId},
								   DT = #{dt},
								   PASS_QY = #{passQy},
								   INFER_QY = #{inferQy},
								   MNGR = #{mngr},
								   REMK = #{remk}
		WHERE RWMATR_ORDER_DETA_ID = #{rwmatrOrderDetaId}
	</update>
	
	<update id="updateRwmatrIstInspInfer" parameterType="RwmatrIstInspVO">
		UPDATE RWMATR_IST_INSP SET FG = 'N'
		WHERE RWMATR_ORDER_DETA_ID = #{rwmatrOrderDetaId}
	</update>
	
	<update id="updateRwmatrIstInspIst" parameterType="RwmatrIstInspVO">
		UPDATE RWMATR_IST_INSP SET FG = 'Y'
		WHERE RWMATR_ORDER_DETA_ID = #{rwmatrOrderDetaId}
	</update>
	
	<delete id="deleteRwmatrIstInsp" parameterType="RwmatrIstInspVO">
		DELETE FROM RWMATR_IST_INSP
		WHERE RWMATR_ORDER_DETA_ID = #{rwmatrOrderDetaId} 
	</delete>
	
</mapper>