<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.mkLot.dao.MkLotMapper">

<select id="findSeq" resultType="int">
	SELECT NVL(MAX(seq),0)+1 as seq, sysdate as dt
    FROM gv_lot 
    WHERE dt = trunc(sysdate)
    AND item_id = UPPER(#{itemId})
</select>

<insert id="insertGvLot">

	<selectKey keyProperty="seq" order="BEFORE" resultType="int">
		SELECT NVL(MAX(seq),0)+1 
		FROM gv_lot 
		WHERE dt = trunc(sysdate)
		AND item_id = UPPER(#{itemId})
	</selectKey>
	
	INSERT INTO gv_lot(ITEM_ID,
						DT,
						SEQ)
				VALUES(UPPER(#{itemId}),
						sysdate,
						#{seq})	
	
</insert>

</mapper>