@charset "UTF-8";

.btn {
	font-size: 14px !important;
	color: #fff !important;
	background-color: #343a40 !important;
	border-color: #343a40 !important;
}

.btn-modal {
	vertical-align: middle;
	font-size: inherit !important;
	width: 21px;
	height: 21px;
	min-height: 21px !important;
	text-indent: -9999px;
	border-radius: .25em;
	border: 0;
	background-color: #525252;
	background-image: url(../images/ico_search_white.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center center;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
}

input[type=text] {
	width: 140px;
	font-size: 13px;
	height: 26px;
	padding: 4px;
	-webkit-transition: .3s;
	transition: .3s;
	text-align: left;
	color: #343a43;
	border-width: 1px;
	border-style: solid;
	border-color: #c2c2c2;
	background-color: #fff;
}

th {
	width: 100px;
}

