<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gelato.app.prd.prdIndicaFind.dao.PrdIndicaMngFindMapper">
	
<!-- 생산지시조회 -->
	<select id="indicaList" resultType="PrdIndicaMngFindVO">
		select * from 
	    (select pid.indica_deta_id as indica_deta_id, 
				   l.prdt_id as prdt_id, 
				   p.prdt_nm as prdt_nm, 
				   pid.qy as qy, 
				   pid.line_id as line_id, 
				   pid.ord as ord, 
				   f_com_code_to_nm(pi.fg) as fg,
				   pid.remk as remk,
	               pid.indica_dt as indica_dt
			from prod_indica_deta pid join line l
			    on pid.line_id = l.line_id
			    join prdt p
			    on l.prdt_id = p.prdt_id
			    join prod_indica pi
	    		on pid.indica_id = pi.indica_id
	        group by pid.indica_deta_id, l.prdt_id, p.prdt_nm, pid.qy, pid.line_id, pid.ord, pid.remk, pi.fg, pid.indica_dt
	
			UNION
			
			select pid.indica_deta_id as indica_deta_id, 
						   l.prdt_id as prdt_id, 
						   r.nm as prdt_nm, 
						   pid.qy as qy, 
						   pid.line_id as line_id, 
						   pid.ord as ord, 
						   f_com_code_to_nm(pi.fg) as fg,
						   pid.remk as remk,
			               pid.indica_dt as indica_dt
					from prod_indica_deta pid join line l
					    on pid.line_id = l.line_id
					    join rwmatr r
					    on l.prdt_id = r.rwmatr_id
					    join prod_indica pi
			    		on pid.indica_id = pi.indica_id
			        group by pid.indica_deta_id, l.prdt_id, r.nm, pid.qy, pid.line_id, pid.ord, pid.remk, pi.fg, pid.indica_dt)
		<where>
			<if test="fg != 'ALL'">
            	F_COM_NM_TO_CODE(fg) = #{fg}
            </if>
            
			<if test="startD != null and startD != ''">
            	<![CDATA[and trunc(indica_dt) >= to_date(#{startD})]]>
            </if>
            
            <if test="endD != null and endD != ''">
            	<![CDATA[and trunc(indica_dt) <= to_date(#{endD})]]>
            </if>
		</where> 
		order by indica_deta_id , ord
	</select>
</mapper>