<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.rwmatr.order.dao.RwmatroMapper">

	<select id="rwmatrOrderList" resultType="RwmatroVO">
		SELECT RD.ORDER_ID AS ORDER_ID, 
       		   RD.rwmatr_order_deta_id AS rwmatr_order_deta_id, 
		       R.NM AS NM, 
		       R.RWMATR_ID AS RWMATR_ID, 
		       RD.UNTPRC AS UNTPRC, 
		       RD.QY AS QY,
		       V.VEND_ID AS VEND_ID, 
		       V.VEND_NAME AS VEND_NAME, 
		       RO.ORDER_DT AS ORDER_DT, 
		       RD.DUDT AS DUDT,
               RD.QY*RD.UNTPRC AS TOTALPRICE
		FROM RWMATR_ORDER_DETA RD JOIN RWMATR_ORDER RO
		    ON(RD.ORDER_ID = RO.ORDER_ID)
		JOIN RWMATR R
		    ON(RD.RWMATR_ID = R.RWMATR_ID)
		JOIN VEND V
		    ON(R.VEND_ID = V.VEND_ID)
	    <where>
	    	<if test="startDate != ''">
	    		<![CDATA[TRUNC(RO.ORDER_DT) >= to_date(#{startDate})]]>
	    	</if>
	    	<if test="endDate != ''">
	    		AND <![CDATA[TRUNC(RO.ORDER_DT) <= to_date(#{endDate})]]>
	    	</if>
			<if test="rwmName != '' and rwmName != null">
				AND R.NM LIKE '%'||#{rwmName}||'%'
			</if>
			<if test="vendName != '' and vendName != null">
				AND V.VEND_NAME LIKE '%'||#{vendName}||'%'
			</if>
		</where>
		ORDER BY 1 DESC
	</select>
	
	<select id="rwmatrOrderMasterList" resultType="RwmatroVO">
		SELECT ORDER_ID, 
			   ORDER_DT 
		FROM RWMATR_ORDER
		<where>
	    	<if test="startDate != '' and startDate != null">
	    		<![CDATA[TRUNC(ORDER_DT) >= to_date(#{startDate})]]>
	    	</if>
	    	<if test="endDate != '' and endDate != null">
	    		AND <![CDATA[TRUNC(ORDER_DT) <= to_date(#{endDate})]]>
	    	</if>
		</where>
		ORDER BY 2 DESC
	</select>
	
	<select id="rwmatrOrderSubList" resultType="RwmatroVO">
		SELECT RD.ORDER_ID AS ORDER_ID, 
       		   RD.rwmatr_order_deta_id AS rwmatr_order_deta_id, 
		       R.NM AS NM, 
		       R.RWMATR_ID AS RWMATR_ID, 
		       RD.UNTPRC AS UNTPRC, 
		       RD.QY AS QY,
		       V.VEND_ID AS VEND_ID, 
		       V.VEND_NAME AS VEND_NAME, 
		       RO.ORDER_DT AS ORDER_DT, 
		       RD.DUDT AS DUDT,
               RD.QY*RD.UNTPRC AS TOTALPRICE
		FROM RWMATR_ORDER_DETA RD JOIN RWMATR_ORDER RO
		    ON(RD.ORDER_ID = RO.ORDER_ID)
		JOIN RWMATR R
		    ON(RD.RWMATR_ID = R.RWMATR_ID)
		JOIN VEND V
		    ON(R.VEND_ID = V.VEND_ID)
	    <where>
	    	RD.ORDER_ID = #{orderId}
			<if test="rwmName != '' and rwmName != null">
				AND R.NM LIKE '%'||#{rwmName}||'%'
			</if>
			<if test="vendName != '' and vendName != null">
				AND V.VEND_NAME LIKE '%'||#{vendName}||'%'
			</if>
		</where>
		ORDER BY 1 DESC
	</select>
	
	<select id="selectVendList" resultType="RwmatroVO">
		SELECT VEND_ID, 
			   VEND_NAME, 
			   REMK
		FROM VEND
		WHERE FG = 'VEND01'
		<if test="vendName != '' and vendName != null">
			AND VEND_NAME LIKE '%'||#{vendName}||'%'
		</if>
	</select>
	
	<insert id="insertRwmatro" parameterType="RwmatroVO">
		<selectKey keyProperty="orderId" resultType="string" order="BEFORE">
			SELECT ins_oaf()
			FROM DUAL
		</selectKey>
		INSERT INTO RWMATR_ORDER (
									ORDER_ID,
									ORDER_DT) 
						   VALUES(
						   			#{orderId},
						   			sysdate
						   		 )
	</insert>
	
	<insert id="insertRwmatroDeta" parameterType="RwmatroVO">
		<selectKey keyProperty="rwmatrOrderDetaId" resultType="string" order="BEFORE">
			SELECT ins_oad()
     		FROM DUAL
		</selectKey>
		INSERT INTO RWMATR_ORDER_DETA (
										RWMATR_ORDER_DETA_ID,
										ORDER_ID, 
										RWMATR_ID,
										UNTPRC, 
										QY,
										DUDT) 
								VALUES (
										#{rwmatrOrderDetaId},
										#{orderId},
										#{rwmatrId},
										#{untprc},
										#{qy},
										#{dudt}
										)
	</insert>
	
	<update id="updateRwmatroDeta" parameterType="RwmatroVO">
		UPDATE RWMATR_ORDER_DETA SET RWMATR_ID = #{rwmatrId},
									 UNTPRC = #{untprc},
									 QY = #{qy},
									 DUDT = #{dudt}
		WHERE RWMATR_ORDER_DETA_ID = #{rwmatrOrderDetaId}
	</update>
	
	<delete id="deleteRwmatroDeta" parameterType="RwmatroVO">
		DELETE FROM RWMATR_ORDER_DETA 
		WHERE RWMATR_ORDER_DETA_ID = #{rwmatrOrderDetaId}
	</delete>

</mapper>