<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.biz.oust.dao.OustMapper">

	<!-- 출고 전체 조회 -->
	<select id="oustList" resultType="OustVO">
		SELECT A.ORDER_SHT_DETA_ID AS ORDER_SHT_DETA_ID,
			   A.PRDT_ID AS PRDT_ID,
			   A.ORDER_ID AS ORDER_ID,
			   A.QY AS QY,
			   P.PRDT_NM AS PRDT_NM
			  
		 FROM  ORDER_SHT_DETA A JOIN PRDT P
		   ON  A.PRDT_ID = P.PRDT_ID
	    ORDER BY ORDER_SHT_DETA_ID ASC
	</select>
	
	<!--완제품 현재고  modal 조회. -->
	<select id="prdtStcList" resultType="OustVO">
		  SELECT A.LOT_NO AS LOT_NO,
                 A.PRDT_ID AS PRDT_ID,
                 A.QY AS QY,
                 A.PROD_DT AS PROD_DT,
                 A.EXPDATE AS EXPDATE,
                 B.IST_OUST_DTTM AS IST_OUST_DTTM,
                 B.IST_QY AS IST_QY
               
                 
          FROM   PRDT_STC A JOIN PRDT_INST_OUST B
            ON   A.LOT_NO = B.LOT_NO
         WHERE   A.PRDT_ID = #{prdtId}
          AND    A.QY != 0
     ORDER BY   EXPDATE ASC 
	</select>
	
	<!-- 완제품 입출고 테이블. -->
	 <select id="prdtInstOust" resultType="OustVO">
		SELECT LOT_NO AS LOT_NO,
		       IST_OUST_DTTM AS IST_OUST_DTTM,
		       PRDT_ID AS PRDT_ID,
		       IST_QY AS IST_QY,
		       OUST_QY AS OUST_QY,
		       EXPDATE AS EXPDATE
		       
	      FROM PRDT_INST_OUST
	     WHERE PRDT_ID = #{prdtId}
	  ORDER BY EXPDATE	ASC     
	</select> 

	<!-- 주문서 테이블 상태 수정, 입출고 테이블 등록, 완제품 재고 테이블 수량 수정, 출고테이블 등록 하는 프로시저 -->
	<parameterMap type="OustVO" id="OustParam">
		<parameter property="orderShtDetaId" mode="IN" jdbcType="VARCHAR" javaType="string"/>
		<parameter property="lotNo" mode="IN" jdbcType="VARCHAR" javaType="string"/>
		<parameter property="oustQy" mode="IN" jdbcType="VARCHAR" javaType="string"/>
	</parameterMap>
	
	<insert id="insertOust" statementType="CALLABLE" parameterMap="OustParam">
		{ call oust_output(?,?,?)}
	</insert>
	
</mapper>