<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.eqm.dao.EqmMapper">

	<!-- 설비 등록 페이지 - 설비등록 -->
	<insert id="insertEqm" parameterType="EqmVO">
	<selectKey keyProperty="eqmId" resultType="string" order="BEFORE">
			SELECT 'EQM-'||
				    LPAD(MAX(TO_NUMBER(SUBSTR(EQM_ID, -3))) +1, 3, 0) 
			AS EQM_ID
			FROM EQM
	</selectKey>
		INSERT INTO EQM(
					EQM_ID, 
					EQM_NAME, 
					MODEL_NO, 
					VEND_ID, 
					TEMP_MAX, 
					TEMP_MIN, 
					CHCK_PERD, 
					REG_DT, 
					MNGR, 
					EQM_IMG, 
					PURC_DT, 
					FG, 
					SPEC, 
					USE_YN, 
					UPH
					)
		VALUES
		(#{eqmId},#{eqmName},#{modelNo},#{vendId},#{tempMax},#{tempMin},#{chckPerd},#{regDt},F_EMP_NAME_TO_ID(#{mngr}),#{eqmImg},#{purcDt},#{fg},#{spec},#{useYn},#{uph})
	</insert>
	
	<!--설비 관리 페이지 - 설비조회  -->
	<select id="eqmList" resultType="EqmVO">
		SELECT E.EQM_ID AS EQM_ID, 
			   E.EQM_NAME AS EQM_NAME, 
			   P.PRCS_ID AS PRCS_ID, 
			   P.NM AS NM, 
			   E.USE_YN AS USE_YN, 
			   E.FG AS FG,
			   E.TEMP_MAX AS TEMP_MAX,
			   E.TEMP_MIN AS TEMP_MIN,
			   E.CHCK_PERD AS CHCK_PERD,
			   E.EQM_IMG AS EQM_IMG
		FROM EQM E 
			 LEFT OUTER JOIN PRCS P 
			 ON (E.EQM_ID = P.EQM_ID)
		<where>
			<if test='gubun != "전체" and gubun != null and gubun != ""'>
				E.FG = F_COM_NM_TO_CODE(#{gubun})
			</if>
			<if test='useYnCk !="" and useYnCk != null'>
				AND USE_YN = #{useYnCk}
			</if>
		</where>
	</select>
	
	<!-- 설비 관리 페이지 - 설비 한 건 조회(모달창) 수정 -->
	<update id="eqmUpdate" parameterType="EqmVO">
		UPDATE EQM 
		SET 
			TEMP_MAX = #{tempMax},
			TEMP_MIN = #{tempMin},
			CHCK_PERD = #{chckPerd},
			EQM_IMG = #{eqmImg},
			USE_YN = #{useYn}
		WHERE EQM_ID = #{eqmId}
	</update>
	
	
	
</mapper>                       