<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.biz.dao.OrderMapper">

<!--주문서 전체 조회. -->
<select id="findOrderList" resultType="OrderVO">
	SELECT 
	 	 a.order_id, a.vend_id, a.order_dt, a.oust_dt, a.st_fg, a.remk,
		 b.order_sht_deta_id, b.prdt_id, b.qy, c.vend_name
     FROM order_sht a JOIN order_sht_deta b
     ON a.order_id = b.order_id
     JOIN vend c
     ON a.vend_id = c.vend_id	
     <where>
     	<if test="orderDt != null and oustDt != null">
     		<![CDATA[a.order_dt between (#{orderDt}) and (#{oustDt})]]> 
     	</if>
     	<if test="vendId !=null and vendId != ''">
     		and a.vend_id = #{vendId}
     	</if>
     	<if test="prdtId !=null and prdtId != ''">
     		and b.prdt_id = #{prdtId}
     	</if>
     	<if test="stFg !='전체'">
     		 and a.st_fg = #{stFg}
     	</if>
     	
     </where>
    	
</select>

<!-- 주문서에서 거래처 검색 modal -->
<select id="vendList" resultType="OrderVO">
	SELECT  vend_id, vend_name, bizno, telno
 	FROM vend
</select>

<!-- 주문서에서 제품코드 검색 modal -->
<select id="prdtList" resultType="OrderVO">
	 SELECT prdt_id, prdt_nm, spec
	 FROM prdt
</select>

</mapper>

	


