<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.biz.dao.OrderMapper">

<!--주문서 전체 조회. -->
<select id="findOrderList" resultType="OrderVO">
	SELECT 
	 	 a.order_id, a.vend_id, a.order_dt, a.oust_dt, a.st_fg, a.remk,
		 b.order_sht_deta_id, b.prdt_id, b.qy, c.vend_name, d.prdt_nm
     FROM order_sht a JOIN order_sht_deta b
     ON a.order_id = b.order_id
     JOIN vend c
     ON a.vend_id = c.vend_id	
     JOIN prdt d
     ON b.prdt_id = d.prdt_id
     <where>
     	<if test="vendName !=null and vendName != ''">
     		and c.vend_name = #{vendName}
     	</if>
     	<if test="prdtNm !=null and prdtNm != ''">
     		and d.prdt_nm = #{prdtNm}
     	</if>
     	<if test="stFg !='전체'">
     		 and a.st_fg = #{stFg}
     	</if>
     	<if test="startDt !=null and startDt != ''">
     		 <![CDATA[and trunc(a.order_dt) >= to_date(#{startDt})]]> 
     	</if>
     	<if test="endDt !=null and endDt != ''">
     		 <![CDATA[and trunc(a.order_dt) <= to_date(#{endDt})]]> 
     	</if>
     	<if test="startedDt !=null and startedDt != ''">
     		 <![CDATA[and trunc(a.oust_dt) >= to_date(#{startedDt})]]> 
     	</if>
     	<if test="endedDt !=null and endedDt != ''">
     		 <![CDATA[and trunc(a.oust_dt) <= to_date(#{endedDt})]]> 
     	</if>
     </where>
    	
</select>

<!-- 주문서에서 거래처 검색 modal -->
<select id="vendList" resultType="OrderVO">
	SELECT VEND_ID, VEND_NAME, BIZNO, TELNO
	FROM   VEND
	<where>
		<if test="vendName !=null and vendName !=''">
			AND VEND_NAME LIKE '%'||#{vendName}||'%'
		</if>
	</where>
</select>

<!-- 주문서에서 제품코드 검색 modal -->
<select id="prdtList" resultType="OrderVO">
	 SELECT PRDT_ID, PRDT_NM, SPEC
	 FROM   PRDT
	 <where>
	 	<if test="prdtNm !=null and prdtNm !=''">
	 		AND PRDT_NM LIKE '%'||#{prdtNm}||'%'
	 	</if>
	 </where>
</select>

</mapper>

	


