<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.rwmatrCode.dao.RwmatrCodeMapper">
	
	<!-- rwmatr 전체 조회 -->
	<select id="findRwmatrList" resultType="RwmatrCodeVO">
		SELECT RWMATR_ID,
               VEND_ID,
               NM,
               SPEC,
               WK_UNIT,
               SAF_STC,
               FG
		FROM   RWMATR 

	</select>
	
	<!-- 거래처 modal -->
	<select id="vendModalList" resultType="RwmatrCodeVO">
		SELECT  VEND_ID, VEND_NAME, BIZNO, TELNO
 	    FROM    VEND
	
	</select>

	
	<!-- 자재코드 관리 등록. -->
	<insert id="insertrwmatrCode" parameterType="RwmatrCodeVO">
		<selectKey keyProperty="rwmatrId" resultType="String" order="BEFORE">
			SELECT 'RML-'||
					LPAD(MAX(TO_NUMBER(SUBSTR(RWMATR_ID, -5))) +1, 5, 0)
				AS  RWMATR_ID
			  FROM	RWMATR
		</selectKey>
		  INSERT INTO RWMATR (
		  			  RWMATR_ID,
					  VEND_ID,
					  NM,
					  SPEC,
					  WK_UNIT,
					  SAF_STC,
					  FG	
				   )
			 VALUES (	
			     	#{rwmatrId},
			     	#{vendId},
			     	#{nm},
			     	#{spec},
			     	#{wkUnit},
			     	#{safStc},
			     	#{fg}		     			
			     )      		
	</insert>
	
	 <update id="updaterwmatrCode" parameterType="RwmatrCodeVO">
	 UPDATE RWMATR
	    SET 
	    	VEND_ID = #{vendId},
	    	NM = #{nm},
	    	SPEC = #{spec},
	    	WK_UNIT = #{wkUnit},
	    	SAF_STC = #{safStc},
	    	FG = #{fg}
	  WHERE RWMATR_ID = #{rwmatrId}
	
	
	</update> 
	
	
</mapper>